*,*::after,*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent
}

html {
	width: 100vw;
	scroll-behavior: smooth;
	height: auto;
	min-height: 100%;

}

body {
	color: var(--color-text);
	background: var(--color-bg);
	position: relative;
	width: 100vw;
	height: auto;
	min-height: 100dvh;
	overflow-x: hidden;
	font-size: 16px;
}
