.games {
	width: 100%;
	max-width: 1512px;
	position: relative;
	padding-top: 7.31vw;
	padding-bottom: 7.31vw;
	padding-left: 4.87vw;
	z-index: 10;
	margin: 0 auto;
}

/* @media screen and (min-width: 768px) and (max-width: 1440px) {
	.games {
		padding-right: 48px;
		padding-left: 48px;
	}
} */

@media screen and (min-width: 1440px) {
	.games {
		padding-top: 40px;
		padding-right: 156px;
		padding-bottom: 40px;
		padding-left: 156px;
	}
}

.games-title {
	font-family: "MontserratBold";
	font-weight: 700;
	font-style: normal;
	font-size: 6.09vw;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	color: var(--third-color-text);
	margin-bottom: 7.31vw;
}

@media screen and (min-width: 1440px) {
	.games-title {
		font-size: 2vw;
		margin-bottom: 1.66vw;
	}
}
/* ----------mobile------------- */

.games-mob {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 24px;
}

@media screen and (min-width: 1439px) {
	.games-mob {
		display: none;
	}
}

.video-wrapper {
	width: 87.69vw;
	aspect-ratio: 342 / 172;
	border-radius: 32px;
	margin-right: 4.87vw;
}

.video {
	width: 100%;
	height: auto;
	border-radius: 32px;
	border: 1px solid rgba(255, 255, 255, 0.24);
}

.swiper-3 {
	width: 100%;
}

.games-slide {
	width: 260px;
	height: 176px;
	margin-left: auto;
}
.slide-img {
	margin-bottom: 16px;
}

/* -------tablet/desctop--------- */

.games-tab {
	display: none;
}

@media screen and (min-width: 1440px) {
	.games-tab {
		display: block;
		margin-bottom: 32px;
	}
}

@media screen and (min-width: 1440px) {
	.games-row1 {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 16px;
		margin-bottom: 20px;
	}
}

.item-wrap {
	width: 35.29vw;
	aspect-ratio: 360 / 172;
	border-radius: 32px;
	border: 1px solid rgba(255, 255, 255, 0.24);
	overflow: hidden;
}

@media screen and (min-width: 1024px) {
	.item-wrap {
		width: 29.76vw;
		aspect-ratio: 450 / 220;
	}
}
@media screen and (min-width: 1440px) {
	.item-wrap {
		width: 450px;
		height: 220px;
	}
}

.item1 {
	width: 100%;
	height: auto;
}

.item2 {
	width: 16.86vw;
	aspect-ratio: 1 / 1;
	border-radius: 34px;

	overflow: hidden;
	object-fit: cover;
}

@media screen and (min-width: 1024px) {
	.item2 {
		width: 14.34vw;
		aspect-ratio: 216 / 220;
	}
}
@media screen and (min-width: 1512px) {
	.item2 {
		width: 216px;
		height: 220px;
	}
}

@media screen and (min-width: 768px) {
	.games-row2 {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 16px;
	}
}

.item3 {
	width: 11.57vw;
	aspect-ratio: 118 / 120;
	border-radius: 24px;

	overflow: hidden;
}

@media screen and (min-width: 1024px) {
	.item3 {
		width: 9.92vw;
		aspect-ratio: 1 / 1;
	}
}
@media screen and (min-width: 1512px) {
	.item3 {
		width: 150px;
		height: 150px;
	}
}
