.provider {
	max-width: 1512px;
	position: relative;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	pointer-events: none;
	/* 	margin-bottom: 32px; */
}

.infinite-slider-4 {
	-webkit-mask-image: linear-gradient(
		to right,
		transparent 0%,
		black 10%,
		black 90%,
		transparent 100%
	);
	mask-image: linear-gradient(
		to right,
		transparent 0%,
		black 10%,
		black 90%,
		transparent 100%
	);
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.infinite-slider-4 {
	position: relative;
	width: 100%;
	height: 64px;
	margin-bottom: 24px;
	background: transparent;
	overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.infinite-slider-4 {
		width: 100%;
		margin-bottom: 32px;
	}
}

@media screen and (min-width: 1024px) {
	.infinite-slider-4 {
		width: 100%;
		margin-bottom: 40px;
	}
}

.infinite-track-4 {
	display: flex;
	gap: 24px;
	will-change: transform;
	width: max-content;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.infinite-track-4 {
		gap: 50px;
	}
}

@media screen and (min-width: 1024px) {
	.infinite-track-4 {
		gap: 60px;
	}
}

.slide-4 {
	flex: 0 0 auto;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.swiper-4-img {
	height: 64px;
	width: auto;
	display: block;
}
